@page
@using Microsoft.Extensions.Localization
@using Africell.Erp.Survey.Localization
@model Africell.Erp.Survey.Web.Pages.Survey.IndexModel
@inject IStringLocalizer<SurveyResource> L
@{
}
<h1>Survey</h1>
<p>@L["SamplePageMessage"]</p>
